{% extends 'base.html' %}

{% block content %}
<div class="card text-center">

    {% if employ == Null %}

    <p></p>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    No existe el registro o el empleado
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>


    {% else %}
    <div class="card-header text-muted">
        <h3>Detalles del empleado</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="card-body text-start">

                    <h5 class="card-title text-muted">{{ employ.nombre }}</h5>
                    <p class="text-muted">ID: {{ employ.id }}</p>
                    <p class="text-muted">Correo: {{ employ.correo }}</p>
                    <p class="text-muted">Teléfono: {{ employ.telefono }}</p>

                    {% if employ.logjerarquia_set.first %}
                    <p class="text-muted">Jerarquía: {{ employ.logjerarquia_set.first.id_jerarquia.jerarquia }}
                    </p>
                    {% else %}
                    <p class="text-muted">Sin Jerarquía</p>
                    {% endif %}
                    <p class="card-text text-muted">Estado: {{ employ.estado }}</p>
                    <p class="card-text text-muted">Creado el: {{ employ.created_at|date:"F j, Y H:i" }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <h5 class="card-title text-muted">Jefe Directo: {{ nom_jefe }}</h5>
                <p></p>
                <h5 class="card-title text-muted">Empleados a cargo</h5>

                {% for one_employ in employ_list %}
                <p class="text-muted">{{ one_employ.nombre }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <form method="post" action="{% url 'cambiar jerarquia' %}" id="cambiarJerarquiaForm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mb-3">
                <h5 class="card-title text-muted">Cambiar Jerarquía:</h5>
                <select required class="form-select" name="hierarchy" id="selectJerarquia"
                    aria-label="Selecciona la jerarquía">
                    <option value="" disabled selected>Seleccione...</option>
                    {% for hierarchy in hierarchys %}
                    <option value="{{ hierarchy.id }}">{{ hierarchy.jerarquia }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="employ_id" value="{{ employ.id }}">
            </div>
            <button type="button" class="btn btn-primary" id="guardarBtn">Guardar</button>
        </form>
        <div id="messages"></div>
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#guardarBtn').click(function () {
            var url = $('#cambiarJerarquiaForm').attr('action');
            var formData = $('#cambiarJerarquiaForm').serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    $('#messages').html(data);
                },
                error: function (data) {
                    console.log('Error:', data);
                },
            });
        });
    });
</script>

{% endblock %}